HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Local Spring profile configuration ###
src/main/resources/application-dev.yml
src/main/resources/application-test.yml
src/main/resources/application-prod.yml

src/main/resources/db/dev
docs
!src/docs/
src/docs/*
!src/docs/10_TourAPI_Collector_Architecture.md
!src/docs/14_TourAPI_50_Validation_Report.md
!src/docs/15_Backend_Chatbot_Connection_Validation.md
!src/docs/16_Resilience_Validation_Report.md
!src/docs/17_STT_Architecture.md
